<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
       <customErrors mode="Off" />
    
    </system.web>
  <appSettings>
    <add key="EnvHost" value="http://localhost:51082/" />
    <add key="UserAD" value="AD\MVMZP3" />
</appSettings>
  <connectionStrings>
    <clear />
    <add name="ConnectionString_SQLEXPRESS" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=WebServiceRequest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
 <!--<add name="ConnectionString_SQLEXPRESS" connectionString="Data Source=DMVWEBD08\SQLEXPRESS;Initial Catalog=WebServiceRequest;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" /> --> 
 <!-- <add name="ConnectionString_SQLEXPRESS" connectionString="Data Source=DMVWEBT08\SQLEXPRESS;Initial Catalog=WebServiceRequest;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" /> -->
<!--<add name="ConnectionString_SQLEXPRESS" connectionString="Data Source=DMVWEBP08\SQLEXPRESS;Initial Catalog=WebServiceRequest;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Pooling=false" />  -->
  </connectionStrings>
</configuration>
